body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #212529;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #07755 3px solid;
}

header h1, header p {
    text-align: center;
}

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about-us div {
    flex: 1;
    margin: 20px;
}

.about-us h2 {
    color: #009688;
}

.about-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #212529;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
